.dd-setup-image{
    display:inline-block;
    width:49%;
    min-height:400px;
    float:right;
    padding:10px;
    
    #dd-setup-tabs{
        ul{
            li{
                width:16.5%;
            }
        }
    }
    
    .tab-content{
        padding:15px 0; 
    }
    
    .dd-setup-image-info{
        div{
            margin:10px 0;
            font-weight:bold;
        }
    }
    
    .dd-setup-layer{
        button{
            margin:20px 0px;
        }
    }
}
