<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 webideaonline.com  All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        
        <add id="Develo_Productdesigner::productdesigner" title="Product Designer" translate="title" module="Develo_Designer" sortOrder="200" dependsOnModule="Develo_Designer" resource="Develo_Productdesigner::productdesigner"/>
        <add id="Develo_Productdesigner::productdesigner_manage" title="Menu" translate="title" module="Develo_Designer" sortOrder="10" parent="Develo_Productdesigner::productdesigner" dependsOnModule="Develo_Designer" resource="Develo_Productdesigner::category"/>
        <!--add id="Develo_Productdesigner::productdesigner_manage_images" title="Manage Images" module="Develo_Designer" parent="Develo_Productdesigner::productdesigner_manage" sortOrder="50" dependsOnModule="Develo_Designer" resource="Develo_Productdesigner::images"/>
        <add id="Develo_Productdesigner::productdesigner_manage_categories" title="Manage Categories" module="Develo_Designer" parent="Develo_Productdesigner::productdesigner_manage" sortOrder="60" dependsOnModule="Develo_Designer" resource="Develo_Productdesigner::manage"/ -->
        <add id="Develo_Productdesigner::configuration" action="adminhtml/system_config/edit/section/develo_productdesigner" title="Configuration" module="Develo_Designer" sortOrder="100" parent="Develo_Productdesigner::productdesigner_manage"  resource="Develo_Productdesigner::configuration"/>
        
    </menu>
</config>

