<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="develo_extensions" translate="label" sortOrder="500">
            <label>Develo Extensions</label>
        </tab>
        <section id="develo_productdesigner" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                  showInStore="1">
            <label>Product Designer</label>
            <tab>develo_extensions</tab>
            <resource>Develo_Productdesigner::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="1">
                <label>General</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Enable "Product Designer" for frontend.
                    </comment>
                </field>
                <!--field id="product_designer_route" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product Designer route</label>
                    <comment>
                        Default "develodesigner".
                    </comment>
                </field -->
            </group>
            
            <group id="frontend" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                   showInStore="1">
                <label>Frontend</label>
                <field id="enable_all" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable for All Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Enable "Product Designer" for all products
                    </comment>
                </field>
                
                <field id="attributes_sets" 
                       translate="label" 
                       type="multiselect" 
                       sortOrder="20" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Enable for Attribute sets</label>
                    <comment>Specify existing attribute sets for enable product designer</comment>
                    <source_model>Develo\Designer\Model\Config\Source\ProductAttributesSet</source_model>
                </field>
                
                <!-- field id="layer_width" 
                       translate="label" 
                       type="text" 
                       sortOrder="40" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Default Layer Width</label>
                    <comment>Percentage from main image</comment>
                </field -->
                
                <field id="google_fonts" 
                       translate="label" 
                       type="textarea" 
                       sortOrder="50" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Google Fonts to Load</label>
                    <comment>visit https://fonts.google.com/</comment>
                </field>
                
                <field id="enable_add_image" 
                       translate="label comment" 
                       type="select" 
                       sortOrder="60" 
                       showInDefault="1"
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Enable Add Image</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                </field>
                
                <field id="enable_add_text" 
                       translate="label comment" 
                       type="select" 
                       sortOrder="70" 
                       showInDefault="1"
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Enable Add Text</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                </field>
                
                <field id="enable_add_from_library" 
                       translate="label comment" 
                       type="select" 
                       sortOrder="80" 
                       showInDefault="1"
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Enable Add From Library</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                </field>
                
                
            </group>
            
            <group id="prices" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                   showInStore="1">
                <label>Prices</label>
            
                
                <field id="layer_image_price" 
                       translate="label" 
                       type="text" 
                       sortOrder="40" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Layer Image Price</label>
                    
                </field>
                
                <field id="layer_text_price" 
                       translate="label" 
                       type="text" 
                       sortOrder="50" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Layer Text Price</label>
                    
                </field>
            </group>
            
            
            
            <group id="help" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0"
                   showInStore="1">
                <label>Help Configuration</label>
                
                <field id="customize_button_block" 
                       translate="label" 
                       type="text" 
                       sortOrder="40" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Customize button block ID</label>
                    <comment>Leave empty for not showing</comment>
                    
                </field>
                
                <field id="designer_control_main_block" 
                       translate="label" 
                       type="text" 
                       sortOrder="50" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Designer help 1 block</label>
                    <comment>Add text, add image, add from library help block. Leave empty for not showing</comment>
                    
                </field>
                
                <field id="designer_control_second_block" 
                       translate="label" 
                       type="text" 
                       sortOrder="60" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Designer help 2 block</label>
                    <comment>Download, print, view preview and clear all help block. Leave empty for not showing</comment>
                    
                </field>
                
                <field id="designer_control_third_block" 
                       translate="label" 
                       type="text" 
                       sortOrder="70" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Designer help 3 block</label>
                    <comment>Save, close help block. Leave empty for not showing</comment>
                    
                </field>
                
                <field id="designer_control_switch_images_block" 
                       translate="label" 
                       type="text" 
                       sortOrder="80" 
                       showInDefault="1" 
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Designer help switch images block</label>
                    <comment>Switch images help block. Leave empty for not showing</comment>
                    
                </field>
            </group>    
            
            <group id="social" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0"
                   showInStore="1">
                <label>Social Configuration</label>
                
                <field id="enable_facebook_share" 
                       translate="label comment" 
                       type="select" 
                       sortOrder="10" 
                       showInDefault="1"
                       showInWebsite="1" 
                       showInStore="1">
                    <label>Enable Facebook Share</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    
                </field>
                
            </group>
            
        </section>
        
        
       
    </system>
    
</config>
