.product-designer-button-container{
    width:100%;
}
.product-designer-button-container .product-designer-button{
    width:100%;
    padding:30px;
    font-size:120%;
}
.product-designer-button.product-designer-customize{}


.dd-designer-modal.modal-popup._inner-scroll .modal-inner-wrap{
    width:100%;
    max-width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
}

