#dd-add-photo-tabs{
    min-height:400px;
}
#dd-add-photo-tab{
    width:50%;
    text-align:center;
}
#dd-my-photo-tab{
    width:50%;
    text-align:center;
}

.dz-clickable{
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    text-align: center;
    margin-top:22px;
    line-height:50px;
    cursor:pointer;
}
.dz-error-message{
    color:red;
    font-weight:bold;
    line-height:25px;
}
.dz-error-mark{
    cursor:hand;
}
.dz-error-mark svg path {
    fill: red;
}
.dz-success-mark svg path {
    fill: green;
}
