.dd-designer-topcontrols{
    width: 100px;
    top: 0px;
    left: 0px;
    z-index: 1000000000;
    position: absolute;
    padding-top: 5rem;
    bottom: 0px;

    .fa{
        font-size: 30px;
    }

    button{
        margin: 10px;
        background: #fff;
        border-radius: 50%;
        padding: 13% 15%;
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transition: box-shadow 0.3s ease-in-out;
        border:1px solid #ccc;
    }    
    
    button:hover{
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
    .dd-add-photo-controls{

    }
    .dd-add-text-controls{

    }
    .dd-add-library-controls{

    }
}
